@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 1.4rem;
}
