@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

:root {
  --main:#306cea;
  --main-hover:rgb(33, 81, 187);
  --main-5:rgb(48, 108, 234, 0.5);
  --main-3:rgb(48, 108, 234, 0.3);
  --main-1:rgba(48, 108, 234, 0.06);
}


html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  color: #333637;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 1.4rem;
}
